<template>
  <HelloI18n msg="Welcome to Your Vue.js App" />
</template>

<script>
export default {
  name: "Home",
  components: {
    HelloI18n: () => import("@/components/HelloI18n.vue"),
  },
};
</script>
