<template>
  <div>
    <select v-model="$i18n.locale">
      <option v-for="(lang, i) in arLanguages" :key="`lang${i}`" :value="lang">
        {{ lang }}
      </option>
    </select>
    <p>Translated Players Singular : {{ $t('players.singular') }}</p>
    <p>Translated Teams Plural : {{ $t('teams.plural') }}</p>
    <p>Team Info... : {{ $t('teams.info', { name: 'New York Yankees', nrOfPlayers: 23 }) }}</p>
  </div>
</template>

<script>
export default {
  name: 'HelloI18n',

  data: () => ({
    arLanguages: ['en', 'nl'],
  }), // End of data
};
</script>
